<% @comment = comment %>
<li id="comment-<%= comment.id %>">
  <%= gravatar_for comment.user %>
  <% unless  comment.image.file.nil? %>
    <%= image_tag comment.image, height: "100", with: "100" %>
  <% end %>
  <span class="content"><%= comment.content %></span>
  <br>
  <span class="timestamp">
    <%= t ("posted") %>: <%= time_tag comment.created_at %>
    <% if current_user?(comment.user) %>
      <%= link_to t("delete"), product_comment_path(@product, comment), method: :delete, remote: true,
        data: { confirm: t("confirm")} %>||
      <a href="#" data-toggle="modal" data-target="#myModal-<%= comment.id %>">
      <%= t :edit %>
    </a>
    <% end %>

  </span>
</li>

<div id="myModal-<%= comment.id %>" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body row">
            <div style="margin: 0 30px 0 30px;">
                <%= form_for([ @product, @comment]) do |f| %>
                  <%= render 'shared/error_messages', object: f.object %>
                  <%= f.text_area :content, class: "form-control" %>
                  <%= f.file_field :image, class: "form-control" %>
                  <br>
                  <%= f.submit t("edit"), class: "btn btn-primary" %>
                <% end %>
            </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
  /* activate scrollspy menu */
$('body').scrollspy({
  target: '#navbar-collapsible',
  offset: 52
});

/* smooth scrolling sections */
$('a[href*=#]:not([href=#])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top - 50
        }, 800);

        if (this.hash=="#section1") {
            $('.scroll-up').hide();
        }
        else {
            $('.scroll-up').show();
        }


        // activte animations in this section
        target.find('.animate').delay(1200).addClass("animated");
        setTimeout(function(){
            target.find('.animated').removeClass("animated");
        },2000);

        return false;
      }
    }
});
</script>
