<%= javascript_include_tag 'cart' %>
<%= form_for @current_order do |f| %>
  <table class="table table-bordered table-striped table-condensed">
    <thead>
      <tr>
        <th class="center"><%= t "product.name" %></th>
        <th class="center"><%= t "product.number" %></th>
        <th class="center"><%= t "product.price" %></th>
        <th class="center"><%= t "product.promotion" %></th>
        <th class="center"><%= t "product.total_price" %></th>
        <th class="center"><%= t "product.action" %></th>
      </tr>
    </thead>
    <tbody>
      <%= f.fields_for :orders do |order| %>
        <%= render "order_fields", ff: order %>
      <% end %>
      <tr class="center"><td colspan="6">
        <%= t("cart.have_not_product") if @current_order.orders.empty? %>
      </td></tr>
    </tbody>
  </table>
  <hr>
    <%= t "guest_order.total_price" %>: <%= f.object.sum_price %>
  <hr>
  <div class = "row">
    <%= render "shared/error_messages", object: @current_order %>
    <div class = "col-xs-4 col-md-4 rcorners_order">
      Buyer Infomation:
      <%= f.label :name_from %>
      <%= f.text_field :name_from, class: "form-control" %>
      <%= f.label :email_from %>
      <%= f.text_field :email_from, class: "form-control" %>
      <%= f.label :phone_from %>
      <%= f.text_field :phone_from, class: "form-control" %>
      <%= f.label :address_from %>
      <%= f.text_field :address_from, class: "form-control" %>
    </div>
    <div class = "col-xs-1 col-md-1 triangle_left"></div>
    <div class = "col-xs-4 col-md-4 rcorners_order">
      Receiver Infomation:
      <%= f.label :name_to %>
      <%= f.text_field :name_to, class: "form-control" %>
      <%= f.label :email_to %>
      <%= f.text_field :email_to, class: "form-control" %>
      <%= f.label :phone_to %>
      <%= f.text_field :phone_to, class: "form-control" %>
      <%= f.label :address_to %>
      <%= f.text_field :address_to, class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-md-4">
      <%= link_to new_guest_order_path, class: "btn btn-primary" do %>
        <%= t :back_to_order %>
      <% end %>
    </div>
    <div class="col-sm-4 col-md-4">
      <%= f.submit t("guest_order.order"), class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
