<div style = "padding-top: 100px" class = "disable_input">
  <%= form_for @current_order do |f| %>
    <%= f.fields_for :orders do |ff| %>
      <div class="input-group fields">
        <span class="input-group-addon input-group-addon-2">
          <%= link_to ff.object.product.name, product_path(ff.object.product) %>
        </span>
        <span class="input-group-addon"><%= ff.number_field :number,
          class: "form-control", disabled: true%></span>
        <span class="input-group-addon"><%= ff.object.product.price %></span>
        <span class="input-group-addon"><%= ff.object.product.price * ff.object.number * (100- ff.object.product.promotion)/100 %></span>
      </div>
    <% end %>
    <br>
    <hr>
    <br>
    <div class = "row">
      <%= render "shared/error_messages", object: @current_order %>
      <div class = "col-xs-4 col-md-4 rcorners_order">
        Buyer Infomation:
        <%= f.label :name_from %>
        <%= f.text_field :name_from, class: "form-control", disabled: true %>
        <%= f.label :email_from %>
        <%= f.text_field :email_from, class: "form-control", disabled: true %>
        <%= f.label :phone_from %>
        <%= f.text_field :phone_from, class: "form-control", disabled: true %>
        <%= f.label :address_from %>
        <%= f.text_field :address_from, class: "form-control", disabled: true %>
      </div>
      <div class = "col-xs-1 col-md-1 triangle_left"></div>
      <div class = "col-xs-4 col-md-4 rcorners_order">
        Receiver Infomation:
        <%= f.label :name_to %>
        <%= f.text_field :name_to, class: "form-control", disabled: true %>
        <%= f.label :email_to %>
        <%= f.text_field :email_to, class: "form-control", disabled: true %>
        <%= f.label :phone_to %>
        <%= f.text_field :phone_to, class: "form-control", disabled: true %>
        <%= f.label :address_to %>
        <%= f.text_field :address_to, class: "form-control", disabled: true %>
      </div>
    </div>
  <% end %>
</div>

