<div class="row">
  <div class="col-sm-3">
  <%= show_user_picture @user %>
  </div>

  <div class="col-sm-5">
    <div class="bg-white well">
      <h2 style="color: #0a569b"><%= t "user.name"%>: <%= @user.name %></h2>
      <p><%= t "user.email"%>: <%= @user.email %></p>
      <p><%= t "user.birthday"%>: <%= @user.birthday %></p>
      <p><%= t "user.phone"%>: <%= @user.phone %></p>
    </div>
  </div>

    <div class="col-sm-4">
    <div class="well bg-white">
      <p><%= t "user.state"%>: <%= @user.state %></p>
      <p><%= t "user.country"%>: <%= @user.country %></p>
    </div>
  </div>
</div>
<hr>
<% unless @user.bookmarks.empty? %>
<div class="row bg-white">
  <h1>All Bookmarks</h1>
  <hr>
  <div class="col-lg-12 list-nm">
    <div class="info-card">
      <%= render @user.bookmarks %>
    </div>
  </div>
</div>
<% end %>
