<tr>
  <td><%= link_to ff.object.product.name, product_path(ff.object.product) %></td>
  <td><%= ff.number_field :number, class: "form-control"  %></td>
  <td><%= ff.object.sum_price %></td>
  <%= ff.hidden_field :_destroy, class: 'check-remove' %>
  <td><%= link_to 'Remove', '#', class: 'remove_row' %></td>
</tr>
