<div style = "padding-top: 100px">
  <%= form_for @cart do |f| %>
      <div class="input-group fields">
  <span class="input-group-addon input-group-addon-2">
    Name
  </span>
  <span class="input-group-addon">Number</span>
  <span class="input-group-addon">Prict</span>
  <span class="input-group-addon">Total Price</span>
  <span class="input-group-addon">
    Action
  </span>
</div>
    <%= f.fields_for :order_items do |ff| %>
      <div class="input-group fields">
        <span class="input-group-addon input-group-addon-2">
          <%= link_to ff.object.product.name, product_path(ff.object.product) %>
        </span>
        <span class="input-group-addon"><%= ff.number_field :number, class: "form-control", disabled: true %></span>
        <span class="input-group-addon"><%= ff.object.product.price %></span>
        <span class="input-group-addon"><%= ff.object.product.price * ff.object.number * (100- ff.object.product.promotion)/100 %></span>
      </div>
    <% end %>
    <hr>
    <div class="row">
      <div class="col-sm-4 col-md-4">
        <%= link_to new_cart_path, class: "btn btn-primary" do %>
          <%= t :back_to_cart %>
        <% end %>
      </div>
      <div class="col-sm-4 col-md-4">
        <%= f.submit "Buy", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
