<% provide :title, t("cart.all_carts") %>
<div class="row">
  <h1><%= t "cart.all_carts" %></h1>
  <table class="table table-bordered table-hover table-striped">
    <thead>
      <tr>
        <th class="center"><%= t "cart.day" %></th>
        <th class="center"><%= t "cart.status" %></th>
        <th class="center"><%= t "cart.price" %></th>
        <th class="center", colspan="2"><%= t "cart.action" %></th>
      </tr>
    </thead>
    <tbody>
      <%= render @carts %>
    </tbody>
  </table>
</div>
