<%= javascript_include_tag 'cart' %>
<div class="bg-white">
<%= form_for @current_cart, url: carts_path(cart_id: @current_cart.id),
    method: :post do |f| %>
  <table class="table table-bordered table-striped table-condensed">
    <thead>
      <tr>
        <th class="center"><%= t "product.name" %></th>
        <th class="center"><%= t "product.number" %></th>
        <th class="center"><%= t "product.price" %></th>
        <th class="center"><%= t "product.promotion" %></th>
        <th class="center"><%= t "product.total_price" %></th>
        <th class="center"><%= t "product.action" %></th>
      </tr>
    </thead>
    <tbody>
      <%= f.fields_for :order_items do |order_item| %>
        <%= render "order_fields", ff: order_item %>
      <% end %>
      <tr class="center"><td colspan="6">
        <%= t("cart.have_not_product") if @current_cart.order_items.empty? %>
      </td></tr>
    </tbody>
  </table>
  <hr>
    <h2><%= t("product.total_price") %>: <%= f.object.sum_price %> $</h2>
  <hr>

    <%= f.submit t("cart.add_to_cart"), class: "btn btn-primary" %>

<% end %>
</div>
