<div class="col-md-8 col-sm-offset-2">
  <h1><%= t "category.all" %></h1>
  <%= link_to t("category.new"), new_admin_category_path,
    class: "btn btn-success icon-trash icon-white" %>
  <hr>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="center"><%= t "user.name" %></th>
        <th class="center", colspan="3"><%= t "category.action" %></th>
      </tr>
    </thead>
    <tbody>
      <%= render @categories %>
    </tbody>
  </table>
  <div class="text-center">
    <%= paginate @categories %>
  </div>
</div>
