<% provide :title, t("product.all") %>
<div class="col-md-8 col-sm-offset-2">
  <%= render "admin/products/search_form" %>
  <hr>
  <div class="panel-body">
    <%= link_to t("product.new"), new_admin_product_path,
      class: "btn btn-success icon-trash icon-white" %>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="center"><%= t "product.image" %></th>
        <th class="center"><%= t "product.category" %></th>
        <th class="center"><%= t "product.name" %></th>
        <th class="center"><%= t "product.display" %></th>
        <th class="center", colspan="3"><%= t "product.action" %></th>
      </tr>
    </thead>
    <tbody>
      <%= render @products %>
    </tbody>
  </table>
  <div class="text-center">
    <%= paginate @products %>
  </div>
</div>
