<div class="row">
<div class="col-sm-4">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <% unless @product.product_images.nil? %>
        <% @product.product_images.each do |index, image| %>
          <li data-target="#myCarousel" data-slide-to="<%= index %>"></li>
        <% end %>
      <% end %>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active center">
        <%= image_tag @product.image, height: "40", with: "100" %>
      </div>
      <% unless @product.product_images.nil? %>
        <% @product.product_images.each do |image| %>
          <div class="item">
            <%= image_tag image.image, height: "40", with: "100" %>
          </div>
        <% end %>
      <% end %>
    </div>

    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only"><%= t "previous" %></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only"><%= t "next" %></span>
    </a>
    </div>
</div>

  <div class="col-sm-4">
    <div class="well">
      <p><%= t "product.category" %>: <%= @product.category.name %></p>
      <p><%= t "product.name" %>: <%= @product.name %></p>
      <p><%= t "product.price" %>: <%= @product.price %></p>
      <%= rating_for @product, "price", star: 5, disable_after_rate: false %>
      <p><%= @product.rates("price").count %></p>
      <p><%= t "product.description" %>: <%= @product.description%></p>
    </div>
  </div>

    <div class="col-sm-4">
    <div class="well">
      <p><%= t "product.promotion_info" %></p>
      <p><%= t "product.promotion" %>: <%= @product.promotion.nil? ?
        t("no_") : (@product.promotion.to_s + " %") %></p>
      <hr>
    </div>
  </div>
</div>
<br>
<br>
<div class="container row">
  <div class="well">
    <p><%= t "product.detail" %>:</p>
    <p><%= @product.detail %></p>
  </div>
</div>
<div id="products-<%= @product.id %>">
  <div class="col-md-8">
      <% if @product.comments.any? %>
        <%= t "comments" %>:
        <strong id="comment_number">
          <%= @product.comments.count %>
        </strong>
        <ol class="products">
          <div id = 'comments'>
            <%= render @comments %>
        </div>
         </ol>
        <%= paginate @comments %>
      <% end %>
  </div>
</div>
