<%= form_for [:admin, @user] do |f| %>
  <%= render "shared/error_messages", object: @user %>
    <%= f.label :name, t("user.name") %><br/>
    <%= f.text_field :name, autofocus: true, class: "form-control" %>

    <%= f.label :email, t("user.email") %><br/>
    <%= f.email_field :email, autofocus: true, class: "form-control"  %>

    <%= f.label :country, t("user.country") %><br/>
    <%= f.text_field :country, class: "form-control" %>

    <%= f.label :state, t("user.state") %><br/>
    <%= f.text_field :state, class: "form-control" %>

    <%= f.label :phone, t("user.phone") %><br/>
    <%= f.text_field :phone, class: "form-control" %>

    <%= f.label :birthday, t("user.birthday") %><br/>
    <%= f.date_field :birthday, class: "form-control" %>

    <span class="picture">
      <%= f.label :picture, t("user.your_image") %><br/>
      <%= f.file_field :picture, accept: "image/jpeg,image/gif,image/png" %>
    </span>

    <%= f.label :password, t("user.password") %><br/>
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
    <%= f.label :password_confirmation, t("user.password_confirmation") %>
    <br/>
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>

  <div class="actions">
    <%= f.submit t("user.submit"), class: "btn btn-primary" %>
  </div>
<% end %>
