<% provide :title, t("user.all_users") %>
<div class="col-md-8 col-sm-offset-2">
  <%= render "admin/users/search_form" %>
  <hr>
  <div class="panel-body">
    <%= link_to t("user.new"), new_admin_user_path,
      class: "btn btn-success icon-trash icon-white" %>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="center"><%= t "user.name" %></th>
        <th class="center"><%= t "user.email" %></th>
        <th class="center", colspan="2"><%= t "user.action" %></th>
      </tr>
    </thead>
    <tbody>
      <%= render @users %>
    </tbody>
  </table>
  <div class="text-center">
    <%= paginate @users %>
  </div>
</div>

