<div class="col-md-7 col-sm-offset-2">
<br>
<br>
<div class="row">
  <div class="progress-group col-md-4">
    <%= link_to admin_users_path do %>
      <div class="progress sm">
        <div class="progress-bar progress-bar-aqua" style="width: 100%">
          <div style="padding: 20px"><%= User.all.count %> <%= t "user.users" %></div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="progress-group col-md-4">
    <%= link_to admin_categories_path do %>
      <div class="progress md">
        <div class="progress-bar progress-bar-aqua" style="width: 100%">
          <div style="padding: 20px"><%= Category.all.count %> <%= t "category.categories" %></div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="progress-group col-md-4">
    <%= link_to admin_products_path do %>
      <div class="progress sm">
        <div class="progress-bar progress-bar-aqua" style="width:100%">
          <div style="padding: 20px"><%= Product.all.count %> <%= t "product.products" %></div>
        </div>
      </div>
    <% end %>
  </div>
</div>
</div>
