<div class="row bg-blue2">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="login-header">
          <ul class="flLeft">
            <li class="hidden-xxs"></li>
            <li><a href="tel:1900545546">Mua hàng: 1900 545 546</a></li>
            <li class="hidden-lg hidden-md hidden-sm hidden-xm hidden-xs">|
            </li>
            <li class="hidden-xs hidden-xxs"></li>
            <li class="hidden-xs">
              <a href="tel:0963649191">Hotline: 0963 64 9191</a>
            </li>
            <li class="hidden-lg hidden-md hidden-sm hidden-xm so-doc">|</li>
            <li class="hidden-xxs"></li>
            <li><a href="tel:1900545545">CSKH: 1900 545 545</a></li>
          </ul>

          <ul id="ctl00_header1_login" class="flRight">
            <% if user_signed_in? %>
              <li class="hidden-xs hidden-sm">
                <%= current_user.name %>
              </li>
              <li class="hidden-xs hidden-sm">
                <li><%= link_to t("cart.all_carts"), carts_path %></li>
              </li>
              <li class="hidden-xs hidden-sm">
                <li><%= link_to t("cart.current_cart"), new_cart_path %></li>
              </li>
              <li class="hidden-xs hidden-sm">
                 <li><%= link_to t("user.profile"), user_path(current_user) %></li>
              </li>
              <li class="hidden-xs hidden-sm">
                 <li><%= link_to t("user.edit"), edit_user_registration_path %></li>
              </li>
              <li class="hidden-xs hidden-sm">
               <%= link_to t("user.log_out"), destroy_user_session_path,
                  method: :delete %>
              </li>
            <% else %>
              <li class="hidden-xs hidden-sm">
                <%= link_to t("order"), new_guest_order_path %>
              </li>
              <li class="hidden-xs hidden-sm">
                <%= link_to t("login"), new_user_session_path %>
              </li>
              <li class="hidden-xs hidden-sm"></li>
              <li class="hidden-xs hidden-sm">
                <%= link_to t("sign_up"), new_user_registration_path %>
              </li>
            <% end %>
          </ul>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bg-blue">
    <div class="col-lg-3 col-md-3 col-xm-3 col-sm-3 col-xs-12">
      <div class="logo">
        <%= link_to home_path do %>
          <img width="200" height="38" src="https://lib.trananh.com.vn/img/logo.png" alt="Hệ thống điện máy Trần Anh">
        <% end %>
      </div>
    </div>
    <div class="col-lg-9 col-md-9 col-xm-9 col-sm-9 col-xs-12 hidden-xs">
      <div class="menu-logo">
        <ul>
          <li class="hidden-ss hidden-sm">
            <a href="https://www.trananh.vn/tin-tuc/gioi-thieu-cong-ty/gioi-thieu-chung-n1">INTRODUCTION</a>
          </li>
          <li class="hidden-ss hidden-sm"><a href="https://www.trananh.vn/tin-tuc/tin-tuc-c701">NEWS</a></li>
          <li class="hidden-ss"><a href="https://www.trananh.vn/tin-tuc/review-san-pham-c1166">REVIEW PRODUCTS</a></li>
          <li class="hidden-ss"><a href="https://www.trananh.vn/tin-tuc/kinh-nghiem-hay-c1214">EXPERIENCE</a></li>
          <li class="hidden-ss"><a href="https://www.trananh.vn/tin-tuc/qua-tang-nhat-ban-c1222">PRESENT</a></li>
          <li class="hidden-ss hidden-sm"><a href="https://www.trananh.vn/tuyen-dung">RECRUITMENT</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
    <div class="category">
      <div id="ctl00_topbar1_colmd" class="col-lg-3 col-md-4 hidden-sm hidden-xs">
        <div class="tit-list" id="hidden-toggler">
          <ul class="">
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="glyphicon glyphicon-th-list"></span> <%= t "all_categories" %><b class="caret"></b>
            </a>
            <ul class="dropdown-menu list-group">
            <% @catgories = Category.all %>
              <% unless @catgories.nil? %>
                <% @catgories.each do |category| %>
                  <%= link_to category_path(category) do %>
                    <li class = "list-group-item" ><span class="glyphicon glyphicon-asterisk"></span> <%= t(category.name) %></li>
                  <% end %>
                <% end %>
              <% end %>
            </ul>
            </li>
            </ul>
        </div>
      </div>
      <div class="col-lg-7 col-md-9 col-sm-9 col-xs-11">
        <div class="search-pro">
          <div class="input-group">
          <% @products = Product.all %>
          <% @search = @products.ransack params[:q] %>
          <%= search_form_for @search, url: searchs_path,
           method: :get do |f| %>
            <%= f.text_field :name_cont, placeholder:
              t("product.input_name"), class: "form-control" %>
          <% end %>
              <div id="search_suggest" style="z-index: 299999; visibility: hidden; position: absolute;
                        left: 0; top: 48px">
              </div>
                </div>
            </div>
        </div>
    </div>
</div>
