<html>
  <head>
  <title><%= full_title yield :title %></title>
    <%= stylesheet_link_tag "application", media: "all",
      "data-turbolinks-track": true %>
    <%= javascript_include_tag "application",
      "data-turbolinks-track": true %>
    <%= csrf_meta_tags %>
    <%= render "layouts/shim" %>
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-default">
    <%= render "layouts/admin_header" %>
    </header>
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <div class="">
        <% if user_signed_in? %>
            <%= render "layouts/manage" %>
            <div class="row_content">
              <div class="row">
                <%= yield %>
              </div>
            </div>
        <% else %>
          <%= yield %>
        <% end %>
      </div>
  </body>
</html>
